#divMainBookList
{
    margin: 0px auto 0px auto;
    width: 600px;    
    margin-top: 15px;
}
#divBookListWrapper
{
    width: 600px;    
    height: 400px;    
    overflow-y: scroll;
}
#divBookItem
{
    padding: 6px;
    border-bottom: dashed 1px teal;
    height: 65px;
    width: 570px;
}
#divBookItem:hover
{
    background-image: url(../../css/images/LightOrangeGradient.png);
    background-repeat: repeat-x;
}
#divBookItem #imgAmazon
{
    height: 65px;
    float: left;
    margin-right: 20px;
}
#divEditBook_Content input[type=text], #divEditBook_Content select
{
    width: 400px;
    margin-bottom: 8px;
    font-size: 8.25pt;
}
input[type=text]:focus, select:focus
{
    background: #DDEEFF;
    border: solid 1px teal;
}
.amazonitem
{
    font-size: 8.25pt;
    padding: 5px;
    border-bottom: dashed 1px teal;
    height: 75px;
}
.amazonitem:hover
{
    background-image: url(../../css/images/LightOrangeGradient.png);
    background-repeat: repeat-x;
}
.sorting
{
	opacity: .75;
	border: dashed 1px teal;
}
.pulse    
{    	
	background-image: url(../../css/images/lightbluegradient.png);
	background-repeat: repeat-x;	
}

