/*  Core color summary:
	block background: #003399
    block alternate: #0066cc
    light alternate: #b5c7d6
    grey: #eeeeee
    Warning colors: Cornsilk, maroon
*/
/* BROWSER RESET (based on Eric Meyer's Reset) */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	padding: 0px;
	margin: 0px;
	border: 0px;
	outline: 0px;		
	line-height: normal;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 100%;
}
:focus {
	outline: 0;
	}
body {background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: disc;
	margin: 20px;
	}
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	/* text-align: inherit; */
	padding: 4px;
	}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";	
	}
blockquote, q {
	quotes: "" "";
	margin: 15px;
	}
input,select,textarea
{
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
}	
p
{
	margin: 10px 0;
}
/* END BROWSER RESET */


body,table,td,th,input,textarea,select
{
    font-family: verdana,sans-serif;
    font-size: 10pt;
}
pre
{
    color: navy;
    font-family: monospace,courier new;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}
h1
{
    background-color: #eeeeee;
    color: navy;
    font-size: 14pt;
    font-weight: bold;
    padding: 5px;
    text-align: center;    
}
h2
{
    color: maroon;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
}
h3
{
    color: steelblue;
    font-size: 11.25pt;
    font-weight: bold;
    margin-bottom: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
}
td
{
    vertical-align: top;
    padding: 4px;
}
table.blackborder>tbody td
{
	border: solid 1px lightgrey;	
}
th
{
	border-collapse: collapse;
	font-weight: bold;
	text-align: center;
}
a 
{ color:#003399; }
a:visited
{
	color: maroon;
}
a:hover 
{ color:red;}
small, .smalltext
{
    font-size: 8.25pt;
    font-weight: normal;
}


hr 
{ color: navy; background: navy; border: 0; height:1px;}
	
ul 
{
    margin-bottom: 0pt;
    margin-top: 2pt;
    padding-bottom: 2pt;
    padding-top: 2pt;
}	
li
{
	padding-top: 2pt;
	padding-bottom: 0pt;
}
img
{
	border: 0px;
}
legend
{
    text-align: center;
	font-weight: bold;
	background: #DE8079;
	color: White;
	padding: 2px 5px;
	margin: 3px;
	border: solid 1px maroon;
	text-align: left;
}    
.fieldsetpadding
{
	padding: 15px;
}
fieldset
{
	border: solid 1px darkgrey;	   
	margin-bottom: 5px;
	padding: 10px;
}
input[type=text], input[type=password], select 
{    	    	
	background-color: #F5F7FA;    	
	border: solid 1px lightsteelblue;
	border-style:solid;
	padding: 2px;
	
}
input[type=text]:focus, input[type=password]:focus,select:focus
{
    background-color: cornsilk;
}
input[type=button], input[type=submit]
{
	font-size: 8pt;
}
.blackborder
{
	border-style: solid;
	border-width: 2px;
	border-color: #003399;
	background: white;
	text-align: left;
}

.bigtext
{
	font-size: 18pt;
	font-weight: bold;
	color: Navy;
}
.rightalign
{
	float: right;
}


/* block backgrounds for headers etc. */
.menuband, .gridheader, .gridheaderbig, .buttonlinks, .blockheader, .roundedbar_top, .roundedbar_bottom
{
	color: cornsilk;
	background-color: #003399;
	padding: 0px;
}
/* alternate background color color to offset the background
   used for the category list and banner strips for color
   variety. should be a companion color to the block background
   colors (previous tag
*/
.alternatebackground
{
	color: white;
	background-color: #0066cc;
}

/* used for any block tags like headers on tables etc. */
.blockheader
{
	font-weight:bold;
}
.banner
{
	color: cornsilk;
	font-weight:bold;
	background: #003399 url('../images/floralbackground_sm.gif') ;
	height: 16px;
	padding: 5px;
	white-space:nowrap;
}
.bannertext
{
	color: White;
	text-decoration: none;
	padding: 1px 0;
}
.bannertext:visited
{
	color: white;
}
.bannertext:hover
{
	color: #003399;
	background: white url('images/menuhighlight.png');	
}
.bannersubtitle
{
	color: khaki;
	float:left;
	padding-left:8px;
}


/* used on the category list as a standard link */
.menuband, .menuband-bottom
{	
	font-weight: bold;
	height: 20px;
	padding-top: 5px;
	text-align: center;
	background-image: url('images/vertgradient.gif');
	background-repeat: repeat-x;
}
.menuband-bottom
{
    height: 7px;
    background-position: 0% 20%;	

}
.menulinkcontainer
{
	padding: 5px;
}
.menurow 
{ 
	padding:5px;
	border-bottom: solid 1px white ;
}
.menulink
{
    color: white;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none ;
    display:block;
    text-align:left;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left: 5px;
    border: solid 1px transparent;
}
.menulink:visited { color: #eeeeee; } 
.menulink:hover 
{ 
	color:#003399; 
	text-decoration:none; 
	font-weight:normal; 
	background: white url('images/menuhighlight.png') repeat-x;
}
.footer
{
    margin: 10px 0px;
    border-top: solid 1px navy; 
    font-size: 8pt;   
    padding: 5px 10px;
}
.submitbutton
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-weight: bold;
	height: 35px;
	width: 200px;
	background: url('images/submitbutton.gif');
	color: lemonchiffon;
}
.submitbutton:hover { background: url('images/submitbuttonhover.gif');
} 
.submitbutton:active { background: url('images/submitbuttonpressed.gif');
}

.smallbutton
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	height: 22px;
	width: 90px;
	font-size: 8pt;
	color: navy;
	background: url('images/smallbutton.gif');
}
.smallbutton:hover { background: url('images/smallbuttonhover.gif');
}
.smallbutton:active { background: url('images/smallbuttonpressed.gif');
}

.gridheader, .gridheaderbig, .gridheaderleft, .gridheaderright
{	
	padding: 4px 4px 4px 4px;
	background:  #003399 url(images/vertgradient.png) repeat-x;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}
.gridheader a, .gridheaderbig a
{
	color: cornsilk;
	text-decoration: none;
}
.gridheaderleft
{
	text-align: left;
}
.gridheaderright
{
	text-align: right;
}
.gridheaderbig
{	
	font-size: 135%;
	background-image: url(images/vertgradient.png);
	background-repeat: repeat-x;
}
.gridnormal
{
	background-color: #eeeeee;
}
.gridalternate
{
	background-color:#b5c7d6;
}
.gridhighlight
{
	background-image: url(images/LightOrangeGradient.png);
	background-repeat: repeat-x;
	background-color: White;	
	cursor:pointer;
}



.pagercontainer
{
    margin: 20px 0;
    background: whitesmoke;    
    padding: 5px;    
}
.pager
{
    float: right;
    font-size: 10pt;
    text-align: left;
}
.pagerbutton,.pagerbutton-selected,.pagertext
{
    display: block;        
    float: left;    
    text-align: center;
    border: solid 2px maroon;        
    min-width: 18px;      
    margin-left: 3px;    
    text-decoration: none;        
    padding: 4px;
}
.pagerbutton-selected
{
    font-size: 130%;
    font-weight: bold;        
    color: maroon;
    border-width: 0px;
    background: khaki;
}
.pagerbutton-first
{
    margin-right: 12px;        
}
.pagerbutton-last,.pagerbutton-prev
{
    margin-left: 12px;        
}
.pagertext
{
    border: none;
    margin-left: 30px;
    font-weight: bold;
}
.pagerbutton a
{
    text-decoration: none;
}
.pagerbutton:hover
{
    background-color: maroon;
    color: cornsilk;
}
.pagerbutton-prev
{
    background-image: url(images/prev.png);
    background-position: 2px center;
    background-repeat: no-repeat;
    width: 35px;
    padding-left: 20px;
}
.pagerbutton-next
{
    background-image: url(images/next.png);
    background-position: 40px center;
    background-repeat: no-repeat;
    width: 35px;
    padding-right: 20px;
    margin-right: 0px;
}
.gridpagercontainer
{        
    background-image: url(images/vertgradient.png);
    background-repeat: repeat-x;	
    padding: 4px;
}
.gridpager
{
    color: White;        
    float: right;
    font-size: 10pt;    
    font-weight: normal;    
}
.gridpagerbutton,.gridpagerbutton-selected,.gridpagertext
{
    display: block;
    color: White;
    float: left;    
    text-align: center;
    border: solid 1px darkgray;        
    min-width: 16px;      
    margin-left: 3px;    
    text-decoration: none;        
    padding: 2px 4px;
}
.gridpagertext
{
    border: none;
    margin-left: 30px;
    font-weight: bold;
}
.gridpagerbutton a
{
    text-decoration: none;
}
.gridpagerbutton:visited
{
    color: white;
}
.gridpagerbutton:hover, .gridpagerbutton:visited:hover
{
    color: black;
	background-color: lightgray;
}
.gridpagerbutton-selected
{
    font-size: 130%;
    font-weight: bold;        
    color: Maroon;
    border-width: 0px;
    background: lightsteelblue;
}
.gridpagerbutton-first
{
    margin-right: 15px;                  
}
.gridpagerbutton-last, .gridpagerbutton-last:visited, .gridpagerbutton-prev,.gridpagerbutton-prev:visited
{
    margin-left: 15px;                
}
/* GridView Pager */
.gridpagercontainer table,.gridpagercontainer table tbody tr td
{		
	padding: 0px 2px;
	color: cornsilk;	
	font-size: 11pt;
	font-weight: bold;			
	border: solid 1px transparent;		
}
.gridpagercontainer table { float: right; }
.gridpagercontainer a, .gridpagercontainer a:visited
{	
	font-weight: normal;
	text-decoration: none;
	color: white;	
	font-size: 10pt;
}

.containercontent
{
	padding: 20px;	
}
.grouping
{
	padding: 10px;
	background-color: whitesmoke;   
	position: relative; 	
}
.groupheader  
{
	background: SteelBlue; 
	color: White; 
	padding: 4px; 
	margin-top: 10px; 
	margin-bottom: 5px; 
	font-weight: bold;
	font-size: 110%;
}    
.errormessage
{
	font-weight: bold;
	color: maroon;
}
.errordisplay
{	
	font-weight: normal;
	color: maroon;
	background-color:cornsilk;
	border: solid 2px maroon;	
	padding: 6px 5px 8px 10px;
	line-height: 1.5;
	margin: 7px 0;
}
.errordisplay hr
{
	color: maroon;
}
.contentcontainer
{
  margin: 15px;
  padding: 20px;
  background: white;       
  border-top: solid 1px silver;
  border-left: solid 1px silver;
  border-right: solid 2px #535353 ;
  border-bottom: solid 2px #535353;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -opera-border-radius: 10px;
  -moz-box-shadow: #535353  2px 2px 3px;
  -webkit-box-shadow: #535353 2px 2px 3px;  
}
.dialog
{
  background: White;
  overflow: hidden;
  border: solid 1px steelblue;  
  -moz-border-radius: 6px 6px 4px 4px;
  -webkit-border-radius: 5px;    
}
.dialog-header
{	
	background-image: url(images/dialogheader.png);    
	background-repeat: repeat-x;
	text-align: left;
	color: cornsilk;
	padding: 5px;	
	padding-left: 10px;
	font-size: 1.02em;
	font-weight: bold;
    -moz-border-radius: 5px 5px 0px 0px;   
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;   
}
.dialog-top
{
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;    
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;  
}
.dialog-bottom
{
	-moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;     
	-webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}
.dialog-content
{
	padding: 15px;
}
.dialog-statusbar, .dialog-toolbar
{
	background: #eeeeee;
	background-image: url(images/dialogstrip.png);
	background-repeat: repeat-x;
	padding: 5px;
	padding-left: 10px;
	border-top: solid 1px silver;
	border-bottom: solid 1px silver;
	font-size: 0.8em;
}
.dialog-statusbar
{
	-moz-border-radius: 0 0 3px 3px;	
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	padding-right: 10px;
}
.closebox
{
	position: absolute;    	
	right: 2px;
	top: 2px;
	background-image: url(images/close.gif);
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	cursor: pointer;    	
	opacity: 0.60;
	filter: alpha(opacity="80");
} 
.closebox:hover 
{
	xbackground-color: white;
	opacity: 0.95;
	filter: alpha(opacity="100");
}

.toolbarcontainer  
{
	background:#eeeeee;
	background-image: url(images/dialogstrip.png);
	background-repeat: repeat-x;
	border: solid 1px silver;
	vertical-align: top;
	padding: 5px; 
}
.statusbar
{
	position: fixed;
	bottom: 5px;
	left: 0px;
	right: 0px;
	height: 16px;	
	padding: 5px;	
	background: black;
	color: white;	
	border: solid 1px lightgray;	
	opacity: .70;	
	filter: alpha(opacity="70");
	z-index: 200;
	overflow: hidden;
	overflow-y: auto; 
}
.statusbarhighlight
{
	font-weight: bold;
	background-color: khaki;
	color: Maroon;
	border: solid 1px silver;
}
.statusbarclose
{
	position: absolute;
	right: 10px; 
	top: 2px;
	color:red;
	font-size: 12pt;
	font-weight: bold;
	cursor: pointer;
}
.hoverbutton  
{
	text-decoration:none;		
	padding: 4px; 	
	font-size: 8pt; 		
	border: solid 1px transparent; 	
}
.hoverbutton:hover
{	
	background: white url('images/dialoghighlight.png'); 
	border:  outset 1px silver; 
	
	cursor: hand;
}     
.hoverbutton a
{
	text-decoration: none;
}
.tabbutton, .selectedtabbutton
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size: 8pt;
	background: url('images/tabnormal.gif') no-repeat;
	text-align: center;
	vertical-align: middle;
	cursor: hand;
	color: darkblue;
	width: 120px;
	margin: 0px;
	padding:0px;
}
.tabbutton:hover
{
	background: url('images/tabhover.gif') no-repeat;
}
.selectedtabbutton 
{ 
	font-weight: bold; 
	color: white; 
	background:url('images/tabselected.gif') no-repeat;
	cursor:default;
}
.tabstripseparator
{
    background: navy;
}
.tabpage
{
    padding: 10px;
    border: solid 1px navy;
    height: 200px;
    min-height: 200px;
    width: 500px;
    min-width: 500px;
}
.smallprogress,.smallprogressright
{
	width: 16px;
	height: 16px;
	background-image: url(images/loading_small.gif);
	background-repeat: no-repeat;			
	display: none;	
}
.smallprogressright { float: right }
.notebox
{
	background: lightsteelblue;
	padding: 10px;
	border: solid 1px navy;
	margin: 5px 40px 15px 30px;
	font-size: 8pt;
}
.descriptionheader
{
	background: khaki;
	color: black;
	font-size: 8pt;
	text-align: left;
	padding: 10px;
	border-top: solid 1px silver;
}