<?xml version="1.0"?>
<configuration>
	<!-- This section is required for configuration of the resource provider -->
	<configSections>
		<!-- Custom Sections -->
		<section name="DbResourceProvider" type="Westwind.Globalization.DbResourceProviderSection,Westwind.Globalization" requirePermission="false"/>
		<!-- End Custom Sections -->
	</configSections>
	<!-- Using ConnectionStrings entry. You can also use a full SQL connection string. -->
	<DbResourceProvider connectionString="DevSampleConnectionString" resourceTableName="Localizations" projectType="WebForms" designTimeVirtualPath="/internationalization" showLocalizationControlOptions="true" showControlIcons="true" localizationFormWebPath="~/localizationadmin/LocalizationAdmin.aspx" addMissingResources="false" useVsNetResourceNaming="false" stronglyTypedGlobalResource="~/Properties/Resources.cs,AppResources"/>
	<!-- ResourceProvider Configuration section -->
	<connectionStrings>
		<add name="DevSampleConnectionString" connectionString="Data Source=.;Initial Catalog=DevSamples;integrated security=true" providerName="System.Data.SqlClient"/>
		<add name="_DevSampleConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Internationalization.mdf;Integrated Security=True;User Instance=True;"/>
	</connectionStrings>
	<system.web>
		<!-- ASP.NET ResourceProvider is configured here  
           if no provider default ResX provider is used 
     -->
		<globalization resourceProviderFactoryType="Westwind.Globalization.DbSimpleResourceProviderFactory,Westwind.Globalization"/>
		<!--<globalization resourceProviderFactoryType="Westwind.Globalization.DbResourceProviderFactory,Westwind.Globalization"  />-->
		<!-- Medium trust works fine. Note you'll need WRITE access in folders to write out resources -->
		<trust level="Medium" originUrl="(http://www.google.com/translate_t)|(http://babelfish.yahoo.com/translate_txt)"/>
		<!-- 
             Set compilation debug="true" to insert debugging   
            symbols into the compiled page. Because thi
            affects performance, set this value to true only  
             during development. 
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="Westwind.Utilities"/>
				<add namespace="Westwind.Web"/>
			</namespaces>
			<controls>
				<add assembly="Westwind.Web" namespace="Westwind.Web.Controls" tagPrefix="ww"/>
			</controls>
		</pages>
		<customErrors mode="RemoteOnly"/>
		<!-- 
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user.  
        -->
		<authentication mode="Windows">
		</authentication>
		<identity impersonate="false"/>
		<authorization>
			<!--<deny users="?"/>-->
		</authorization>
		<httpHandlers>
			<add verb="GET" path="JavaScriptResourceHandler.axd" type="Westwind.Globalization.JavaScriptResourceHandler,Westwind.Globalization"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web"/>
		</modules>
		<handlers>
			<add name="JavaScriptResourceHandler" verb="GET" path="JavascriptResourceHandler.axd" type="Westwind.Globalization.JavaScriptResourceHandler,Westwind.Globalization"/>
		</handlers>
	</system.webServer>
</configuration>
