<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- Custom Sections -->
		<section name="LogManager" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<!-- End Custom Sections -->
	</configSections>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<httpRuntime executionTimeout="180"/>
		<trust level="Full"/>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.IO"/>
				<add namespace="System.Text"/>
				<add namespace="Westwind.Utilities"/>
				<add namespace="Westwind.Web"/>
				<add namespace="Westwind.Web.Controls"/>
				<add namespace="Westwind.Web.Banners"/>
				<add namespace="$safeprojectname$"/>
			</namespaces>
			<controls>
				<!-- add tagPrefix="ww" namespace="Westwind.Web.Controls" assembly="Westwind.Web.Controls" /-->
				<add tagPrefix="ww" namespace="Westwind.Web.Controls" assembly="Westwind.Web"/>
			</controls>
		</pages>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<add verb="GET" path="wwBanner.ashx" type="Westwind.Web.Banners.BannerHandler,Westwind.Web"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web"/>
		</httpModules>
	</system.web>
	<system.net>
		<defaultProxy>
			<proxy bypassonlocal="True" autoDetect="False" usesystemdefault="False"/>
		</defaultProxy>
	</system.net>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="wwBanner" verb="GET" path="wwBanner.ashx" type="Westwind.Web.Banners.BannerHandler,Westwind.Web"/>
		</handlers>
		<modules>
			<add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web"/>
		</modules>
	</system.webServer>
	<connectionStrings>
	</connectionStrings>
	<LogManager>
		<add key="ConnectionString" value="~/admin/ApplicationWebLog.xml"/>
		<add key="LogFilename" value="~/admin/ApplicationWebLog.xml"/>
		<add key="LogAdapter" value="Xml"/>
		<add key="LogWebRequests" value="False"/>
		<add key="LogErrors" value="True"/>
	</LogManager>
</configuration>
