<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ApplicationConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <ApplicationConfiguration>
    <add key="ApplicationTitle" value="West Wind Web Toolkit Sample" />
    <add key="ApplicationSubTitle" value="" />
    <add key="ApplicationHomeUrl" value="" />
    <add key="ApplicationCookieName" value="_ApplicationId" />
    <add key="ConnectionString" value="FWgzeuB3qSY=" />
    <add key="DebugMode" value="ApplicationErrorMessage" />
    <add key="MaxPageItems" value="20" />
    <add key="SenderEmailAddress" value="" />
    <add key="SenderEmailName" value="" />
    <add key="MailCc" value="" />
    <add key="AdminEmailAddress" value="" />
    <add key="AdminEmailName" value="" />
    <add key="AdminSendEmails" value="False" />
    <add key="MailServer" value="" />
    <add key="MailServerUsername" value="" />
    <add key="MailServerPassword" value="FWgzeuB3qSY=" />
  </ApplicationConfiguration>
</configuration>