<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Custom Sections -->
    <section name="LogManager" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="BannerConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!-- End Custom Sections -->
    <section name="WebStoreConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="AmazonConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ApplicationConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="WebStore" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="180" />
    <trust level="Full" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.IO" />
        <add namespace="System.Text" />
        <add namespace="Westwind.Utilities" />
        <add namespace="Westwind.Web.Controls" />
        <add namespace="Westwind.Web.Banners" />
        <add namespace="Westwind.WebToolkit" />
      </namespaces>
      <controls>
        <!-- add tagPrefix="ww" namespace="Westwind.Web.Controls" assembly="Westwind.Web.Controls" /-->
        <add tagPrefix="ww" namespace="Westwind.Web.Controls" assembly="Westwind.Web" />
      </controls>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <httpHandlers>
      <add verb="GET" path="wwBanner.ashx" type="Westwind.Web.Banners.BannerHandler,Westwind.Web" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web" />
    </httpModules>
  </system.web>
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="True" autoDetect="False" usesystemdefault="False" />
    </defaultProxy>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="wwBanner" verb="GET" path="wwBanner.ashx" type="Westwind.Web.Banners.BannerHandler,Westwind.Web" />
    </handlers>
    <modules>
      <add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web" />
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="DevSampleConnectionString" connectionString="Data Source=.;Initial Catalog=DevSamples;integrated security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <BannerConfiguration>
    <add key="ConnectionString" value="DevSampleConnectionString" />
    <add key="BannerManagerHandlerUrl" value="~/wwBanner.ashx" />
    <add key="TrackStatistics" value="True" />
    <add key="BannerTable" value="Banners" />
    <add key="BannerClicksTable" value="BannerClicks" />
    <add key="HomeUrl" value="~/" />
  </BannerConfiguration>
  <LogManager>
    <add key="ConnectionString" value="DevSampleConnectionString" />
    <add key="LogFilename" value="WebRequestLog" />
    <add key="LogAdapter" value="Sql" />
    <add key="LogWebRequests" value="False" />
    <add key="LogErrors" value="True" />
  </LogManager>
  <AmazonConfiguration>
    <add key="AmazonAssociateId" value="westwindtechn-20" />
    <add key="AmazonAWSAccessKey" value="1SDRSQH20CF1ZSXE6Y02" />
    <add key="AmazonSecretId" value="4DtDvIaVj5cr+A3w/SXFIrErSFRmsseQfA94e4oP" />
    <add key="AmazonServiceEndPointUrl" value="https://ecs.amazonaws.com/onca/soap?Service=AWSECommerceService" />
  </AmazonConfiguration>
  <ApplicationConfiguration>
    <add key="ApplicationTitle" value="config version West Wind Web Toolkit Sample" />
    <add key="ApplicationSubTitle" value="" />
    <add key="ApplicationHomeUrl" value="" />
    <add key="ApplicationCookieName" value="_ApplicationId" />
    <add key="ConnectionString" value="FWgzeuB3qSY=" />
    <add key="DebugMode" value="Default" />
    <add key="MaxPageItems" value="20" />
    <add key="SenderEmailAddress" value="" />
    <add key="SenderEmailName" value="" />
    <add key="MailCc" value="" />
    <add key="AdminEmailAddress" value="" />
    <add key="AdminEmailName" value="" />
    <add key="AdminSendEmails" value="False" />
    <add key="MailServer" value="" />
    <add key="MailServerUsername" value="" />
    <add key="MailServerPassword" value="FWgzeuB3qSY=" />
  </ApplicationConfiguration>
  <WebStore>
    <add key="ApplicationTitle" value="West Wind Web Toolkit Sample" />
    <add key="ApplicationSubTitle" value="" />
    <add key="ApplicationHomeUrl" value="" />
    <add key="ApplicationCookieName" value="_ApplicationId" />
    <add key="ConnectionString" value="4PL6gBdJW10=" />
    <add key="DebugMode" value="ApplicationErrorMessage" />
    <add key="MaxPageItems" value="20" />
    <add key="SenderEmailAddress" value="" />
    <add key="SenderEmailName" value="" />
    <add key="MailCc" value="" />
    <add key="AdminEmailAddress" value="" />
    <add key="AdminEmailName" value="" />
    <add key="AdminSendEmails" value="False" />
    <add key="MailServer" value="" />
    <add key="MailServerUsername" value="" />
    <add key="MailServerPassword" value="4PL6gBdJW10=" />
  </WebStore>
</configuration>