<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Silverlight.Dao.Properties.Settings.DemoConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>