<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="NCrawlerEntitiesSQLite" connectionString="metadata=res://*/NCrawlerDataModelSQLite.csdl|res://*/NCrawlerDataModelSQLite.ssdl|res://*/NCrawlerDataModelSQLite.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;NCrawler.db&quot;'" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>