<h1>Listing line_items</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Integer</th>
    <th>Cart</th>
    <th>Integer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% render(@cart.line_items) %>
</table>

<br />

<%= link_to 'New Line item', new_line_item_path %>
